<div style="padding-top: 20px">
	<% if @user.present? %>
	<div style="padding-top: 10px; padding-bottom: 5px">
		<%= link_to(image_tag(@user.image_url), "http://twitter.com/#{@user.twitter_handle}") %>
	</div>
	<div>
		<p>
		  <b>Name:</b>
		  <%= @user.name %>
		</p>
		<p>
			<b>Twitter Handle: </b>
			<%= @user.twitter_handle %>
		</p>
	</div>
	<div>
		<%= render :partial => 'users/map' %>
	</div>
	<% else %>
	<p>
		<b> Please login to HachiApp using Twitter Account. :) </b>
	</p>
	<% end %>
</div>

<%= javascript_tag do %>
	jQuery(document).ready(function(){
		GmapsHandler.buildGMaps('<%= j @hash.to_json.to_s.html_safe %>');
	});
<% end %>